pytest==7.1.2
pytest-mock==3.12.0
flake8==7.0.0
sphinx==7.2.6
# sphinx_rtd_theme==2.0.0
myst_parser==2.0.0
nbclient==0.5.13
nbsphinx==0.9.3
rst-to-myst[sphinx]==0.4.0
sphinx_autobuild==2024.2.4
furo==2024.1.29
pandoc==2.3 # usually need to install via conda (or `sudo apt install pandoc` if you're in linux environment)